*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.app{
    display: -webkit-flex;
    display: flex;
}

.screenshot{
    max-width: 705px;
    margin-right: 25px;
}

.description{
    max-width: 460px;
    color: #7C8B88;
    font-family: "DejaVu Sans Light", sans-serif;
    font-size: 1.5rem;
    max-height: 314px;
    overflow: hidden;
    font-weight: 600;
}

.title{
    background-color: #33bebe;
    color: white;
    height: 75px;
    padding-top: 25px;
    padding-left: 20px;
    font-size: 2.5rem;
    font-family: "DejaVu Sans Light", sans-serif;
    max-width: 866px;
}