ul {
    list-style-type: none;
}

li {
    margin-top: 1em;
}

.row {
    display: flex;
}

.col-3 {
    width: 25%;
}

.col-6 {
    width: 50%;
}

.fill-container {
    width: 100%;
}

.centered {
    text-align: center;
    padding-top: 100px;
}

#catName {
    text-align: center;
    font-size: large;
    font-weight: bold;
}